<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>openSocial</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <span class="openSocial-title">
                    <a href="{{ url_for('content.home') }}">
                        openSocial
                    </a>
                </span>
                <span class="header-controls">
                    {% if not user_logged_in %}
                        <span class="login-control">
                            <a href="{{ url_for('auth.login') }}">
                                Login
                            </a>
                        </span>
                        <span class="register-control">
                             <a href="{{ url_for('auth.register') }}">
                                Register
                            </a>
                        </span>
                    {% else %}
                        <span class="username-header">
                            {{ username }}
                            <div class="dropdown-header-menu">
                                <span class="dropdown-header-item">
                                    <a href="{{ url_for('content.profile') }}">
                                        Profile
                                    </a>
                                </span>
                                <span class="dropdown-header-item">
                                    <a href="{{ url_for('content.post') }}">
                                        Post
                                    </a>
                                </span>
                                <span class="dropdown-header-item">
                                    <a href="{{ url_for('auth.logout') }}">
                                        Logout
                                    </a>
                                </span>
                            </div>
                        </span>
                    {% endif %}
                </span>
            </div>
            {% if error_message %}
                <div class="error_message-container">
                    {{ error_message }}
                </div>
            {% endif %}
            {% if success_message %}
                <div class="success_message-container">
                    {{ success_message }}
                </div>
            {% endif %}
            <div class="main-content">
                <div class="posts-container">
                    {% if posts|length == 0 %}
                        <p>
                            No posts to show
                        </p>
                    {% endif %}
                    {% for post in posts %}
                        <div class="post-container">
                            <div class="post-header">
                                <h2>
                                    <a href="{{ url_for('content.post_content', post_id=post.id) }}">
                                        {{ post.title }}
                                    </a>
                                </h2>
                            </div>
                            <div class="post-content">
                                {{ post.content }}
                            </div>
                            <div class="post-footer">
                                <p>
                                    Posted by {{ post.author_name }}
                                </p>
                                <p>
                                    Posted at {{ post.date_posted }}
                                </p>
                                <p>
                                    Comments {{ post.comments|length }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer">
                openSocial ~ Built with Flask
            </div>
        </div>
    </body>
</html>