<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>openSocial</title>
    </head>
    <body>
        <p>
            <a href="{{ url_for('auth.login') }}">
                Login
            </a>
            <a href="{{ url_for('auth.register') }}">
                Register
            </a>
        </p>
        {{ message }}
        <ul>
            {% for post in posts %}
                <li>
                    {% for post_item in posts[post] %}
                        <p>
                            {{ posts[post][post_item] }}
                        </p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>