<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>openSocial</title>
    </head>
    <body>
        <p>
            Register
        </p>
        <form method="POST" action="/register/process">
            <input type="text" name="name">
            <input type="password" name="password">
            <input type="submit" value="Register">
        </form>
        <p>
            {{ message }}
        </p>
        {% if invalid_password %}
            <p>
                Invalid password
            </p>
        {% endif %}
    </body>
</html>